@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@import "tailwindcss";


@font-face {
  font-family: 'Montage';
  src: url('/font/Montage.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --background: #cbc8c8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #e7e7e7;
    --foreground: #000000;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter";
}

.navtitle{
  font-family: "Montage" !important;
  font-size: 3em;
  color: white !important;
}

/* Sports Ticker Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-scroll {
  animation: scroll-left 60s linear infinite;
}

.ticker-scroll:hover {
  animation-play-state: paused;
}
